ion-input{
    --padding-start: 5%;
    --padding-end:5%;
    --padding-bottom:5%;
    --padding-top:5%
}
    
.text{
    &-header{
    font-size:25px;
    font-weight:bold;
    }
    &-subtitle{
    font-size:16px;
    }
    &-text{
    font-size:14px;
    }
    &-semihead{
    font-size:18px;
    font-weight:bold;
    }
}

.black{
    color:black;
}

.white{
    color:white;
}

.margin-10{
    margin-left:10%;
    margin-right:10%;
}

.ion-padding-5{
    padding:10px;
}

.no-shadow{
    box-shadow:none!important;
}

.no-padding{
    --padding-end:16px;
}

.off-white{
    background-color:#FAFAFF;
}

.save-button{
    --border-radius:16px;
    width:100px;
    height:50px;
    --background: var(--ion-color-purple); 
}

  
.padding-horizontal-8{
    padding-left:8%;
    padding-right:8%
}  